@import "tailwindcss";



body{
  background-color: #F6F6F6;
}


@font-face {
  font-family: "inter-medium";
  src: url("../assets/Fonts/Inter/Inter_18pt-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "inter-bold";
  src: url("../assets/Fonts/Inter/Inter_18pt-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "inter-regular";
  src: url("../assets/Fonts/Inter/Inter_18pt-Regular.ttf") format("truetype");
}

