@import "tailwindcss";






@font-face {
  font-family: "inter-medium";
  src: url("../assets/Fonts/Inter/Inter_18pt-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "inter-bold";
  src: url("../assets/Fonts/Inter/Inter_18pt-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "inter-regular";
  src: url("../assets/Fonts/Inter/Inter_18pt-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "inter-extrabold";
  src: url("../assets/Fonts/Inter/Inter_18pt-ExtraBold.ttf");
}

@font-face {
  font-family: "inter-semibold";
  src: url("../assets/Fonts/Inter/Inter_18pt-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "kalam-light";
  src: url("../assets/Fonts/Kalam/Kalam-Light.ttf") format("truetype");
}

@font-face {
  font-family: "kalam-regular";
  src: url("../assets/Fonts/Kalam/Kalam-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "kalam-bold";
  src: url("../assets/Fonts/Kalam/Kalam-Bold.ttf") format("truetype");
}


.black-button {
  background-color: #040725; /* deep navy */
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  font-family: "inter-semibold", sans-serif;
  cursor: pointer;
  transition: 
    background-color 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.black-button:hover {
  background-color: #1a1aff; /* royal blue */
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0 10px 20px rgba(26, 26, 255, 0.3);
}

.red-button {
  background-color: #ff0000; /* bright red */
  color: white;
  padding: 16px 36px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 
    background-color 0.4s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.red-button:hover {
  background-color: #FF0000; /* deeper red */
  transform: translateY(-4px) scale(1.05);
  box-shadow: 0 12px 24px rgba(255, 0, 0, 0.4);
}

.red-button:active {
  transform: scale(0.97);
}

/* global.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
body {
  top: 0px !important;
}


@layer utilities {
  @keyframes fadeInSlideUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeInSlideUp {
    animation: fadeInSlideUp 0.5s ease-out forwards;
  }
}

@keyframes spinClockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-clockwise {
  animation: spinClockwise 5s linear infinite;
}


@keyframes flipY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.flip-horizontal-360 {
  animation: flipY 6s linear infinite;
  transform-style: preserve-3d;
  backface-visibility: visible;
}

